.spin-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 10px 0;
}
.spinner {
  border-left: 3px solid rgba(0, 0, 0, .8);
  border-top: 3px solid rgba(0, 0, 0, .8);
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  animation: rotation .8s linear infinite;
  
  margin: auto;
}
.spinner1 {
  width: 20px;
  height: 20px;
}
.spinner2 {
  width: 30px;
  height: 30px;
}
.spinner3 {
  width: 40px;
  height: 40px;
}
.spinner4 {
  width: 50px;
  height: 50px;
}
.spinner5 {
  width: 60px;
  height: 60px;
}
.spinner6 {
  width: 70px;
  height: 70px;
}
.spinner7 {
  width: 80px;
  height: 80px;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}